{% trans_default_domain 'admin' %}

{% if 'forum'|moduleActive(allModules) %}
    {% set uri = app.request.uri %}
    {% set active = '/forums/' in uri %}
    {% set module = 'forum'|moduleActive(allModules, true) %}
    {% set i18n = i18nsModules['forum'][app.user.locale] is defined ? i18nsModules['forum'][app.user.locale] : (i18nsModules['forum']['fr'] is defined ? i18nsModules['forum']['fr'] : null) %}
    {% set title = i18n.placeholder is defined and i18n.placeholder|striptags|length > 0 ? i18n.placeholder : (i18nsModules['forum']['entity'].adminName is defined ? i18nsModules['forum']['entity'].adminName : 'Bannières publicitaires'|trans) %}
    {% set icon = i18nsModules['forum']['entity'].iconClass is defined and i18nsModules['forum']['entity'].iconClass ? i18nsModules['forum']['entity'].iconClass : '/medias/icons/light/waveform.svg' %}
    <li{% if active %} class="active"{% endif %}>
        <a href="{{ path('admin_forum_index', {"website": websiteId}) }}" data-toggle="preloader">
            {{ icon|icon(13, 15, 'white me-3'}) }}{{ title|raw }}
        </a>
    </li>
{% endif %}